.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(100, 100, 100, 0.91);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
  .logo {
	margin-bottom: size(45);
  }
}
.pop-form-title {
  @include mid-text;
  margin-bottom: 10px;
}
.pop-form-subtitle {
  @include base-text;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 3px solid #000000;
  text-align: center;
  margin-bottom: 10px;
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  width: calc(100% - 10px);
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  background-color: #ffffff;
  &.show-float-form {
	opacity: 1;
	transform: translateY(0);
  }
}
.close-form {
  position: absolute;
  top: size(21);
  left: size(25);
  cursor: pointer;
  img {
	width: size(61);
  }
}
//Form styles
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	@include form-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include form-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea,
div.wpcf7 select,
div.wpcf7 input[type="submit"] {
  @include form-text;
  @include input-style;
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-position: calc(100% - 8px) center;
  background-size: size(16);
  background-image: url("../iconsall/form-select.png");
  padding-left: 8px;
  padding-right: size(28);
}
.form-control:focus {
  color: #000000;
  background-color: #fff;
  border-color: $blue-main;
  outline: 0;
  box-shadow: unset;
}
div.wpcf7 textarea {
  height: size(194);
  background-image: url("../iconsall/form-mail.png");
  background-position: 13px 9px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(21);
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="submit"] {
  position: relative;
  padding: 0 8px;
  text-align: center;
  color: #ffffff;
  background-color: $blue-main;
  width: 100%;
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
@mixin form-contact-text {
  font-size: size(19);
  line-height: size(20);
}
@mixin form-contact-input {
  height: size(45);
  background-size: size(23);
}
.contact-page-form {
  .wpcf7-form {
	::placeholder {
	  @include form-contact-text;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  @include form-contact-text;
	}
  }
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="email"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 textarea,
  div.wpcf7 input[type="submit"] {
	@include form-contact-input;
	@include form-contact-text;
  }
  div.wpcf7 input[type="email"] {
	background-image: url("../iconsall/form-email.png");
  }
}
.pop-form-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: size(85) 8% size(50) 8%;
  box-shadow: 0 0 24px 3px rgba(0, 0, 0, 0.33);
  background-color: #ffffff;
  div.wpcf7 input[type="submit"] {
	position: relative;
	padding: 0 8px;
	background-position: 70% center;
	background-size: size(27);
	background-image: url("../iconsall/submit-arrow.png");
	transition: background-position .5s;
	&:hover {
	  background-position: 80% center;
	  transition: background-position .5s;
	}
  }
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="email"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 input[type="submit"] {
	border-radius: 0;
  }
}
//Repeat form without image (base)
.repeat-form-base {
  padding: size(70) 0;
  background-image: url("../img/form-mid-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;}
.mid-form-title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000000;
  margin-bottom: size(22);
}
.base-form-title, .base-form-subtitle {
  color: #000000;
  text-align: center;
  font-weight: 400;
  margin-bottom: size(15);
}
.base-form-title {
  font-size: size(50);
  line-height: size(49);
}
.base-form-subtitle {
  @include base-title;
}
.rep-form-col {
  @include d-center;
  flex-direction: column;
  input {
	border-radius: 10px !important;
  }
}
//Repeat form with image (colored)
.repeat-form-imaged {
  padding: size(160) 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: size(90) 0;
}
