.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	max-height: size(76);
  }
}
.triggers-col {
  position: fixed;
  left: 0;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;
}
.pop-trigger {
  width: size(80);
  height: size(160);
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  background-color: #000000;
  @include d-center;
  padding: size(20);
  cursor: pointer;
  transition: background-color .5s;
  &:hover {
	background-color: $blue-main;
	transition: background-color .5s;
  }
}
.social-link {
  @include d-center;
  width: size(49);
  height: size(49);
  border: 1px solid $blue-main;
  background-color: #ffffff;
  border-radius: 50%;
  padding: size(10);
  margin: 7px;
  .fab {
	color: $blue-main;
	font-size: 1.3rem;
  }
  &.menu-social {
	border: 1px solid #ffffff;
	background-color: $blue-main;
	.fab {
	  color: #ffffff;
	}
  }
}
//Header
//Header
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 6px 0;
  z-index: 12345;
  border-top: 11px solid $blue-main;
  background-color: rgba(255, 255, 255, 0.85);
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: $blue-main;
  }
}
.drop-menu {
  display: none;
  position: absolute;
  left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  padding: size(40) 10% size(40) 5%;
  background-color: $blue-main;
  width: auto;
  z-index: 9999;
  top: 100%;
  overflow-y: auto;
  nav {
	width: 100%;
	margin-bottom: size(50);
  }
  ul{
	li{
	  display: flex;
	  align-items: baseline;
	  a {
		@include mid-text;
		color: #ffffff;
		font-style: normal;
		letter-spacing: normal;
		margin-bottom: 0.5rem;
		transition: text-shadow .5s;
		&:hover {
		  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
		  transition: text-shadow .5s;
		}
	  }
	}
  }
}
//Footer
.footer-main {
  position: relative;
  border-top: 2px solid $blue-main;
  padding-top: size(138);
  padding-bottom: size(240);
}
.foo-menu {
  padding-top: 1rem;
}
.foo-title {
  @include base-25-text;
  color: $blue-main;
  margin-bottom: size(15);
}
.hop-hey.three-columns {
  column-count: 3;
  column-gap: 1.5rem;
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	padding-left: 15px;
	a {
	  display: flex;
	  font-size: size(18);
	  line-height: size(20);
	  font-weight: 400;
	  margin-bottom: 10px;
	  color: #000000;
	  transition: color .5s;
	  &:hover {
		color: $blue-main;
		transition: color .5s;
	  }
	}
	&:before {
	  position: absolute;
	  content: '';
	  width: size(10);
	  height: 2px;
	  display: inline-block;
	  top: 5px;
	  left: 0;
	  border: 5px solid transparent;
	  border-left: 10px solid #000000;
	}
  }
}
#go-top {
  position: absolute;
  top: size(45);
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  img {
	width: size(52);
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.top-text {
  @include base-text;
  text-align: center;
}
.socials-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  .small-text {
	margin-bottom: 0;
  }
}
.foo-social-link {
  margin: 0 8px;
  .fab {
	color: $blue-main;
	font-size: size(28);
	transition: color .5s;
  }
  &:hover {
	.fab {
	  color: #000000;
	  transition: color .5s;
	}
  }
}
//Languages
.wpml-ls-statics-footer {
  margin-bottom: 0 !important;
  padding: 0 !important;
  .wpml-ls-current-language, span {
	display: none !important;
  }
  .wpml-ls-flag {
	width: 36px;
	height: auto;
  }
}
//Footer editions
.contact-list li a {
  display: flex;
  align-items: center;
  @include small-text;
  img {
	width: size(19);
	margin-right: 3px;
  }
}
.contact-list li {
  padding-left: 0;
  &:before {
	display: none;
  }
}
