// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 22;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}

@mixin base-title {
  color: #000000;
  font-size: size(40);
  line-height: size(42);
}
@mixin base-text {
  color: #000000;
  font-size: size(22);
  line-height: size(22);
  font-weight: 400;
}
@mixin base-link {
  min-height: size(41);
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
}
@mixin mid-text {
  color: #000000;
  font-size: size(30);
  line-height: size(32);
  font-weight: 400;
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin input-style {
  height: size(50);
  padding-left: size(42);
  background-position: 8px center;
  background-size: size(28);
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: 1px solid $blue-main;
}
@mixin form-text {
  color: #000000;
  font-size: size(22);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
}
@keyframes jump-top {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-top: -1rem;
  }
}
@keyframes jump-down {
  0% {
	bottom: 9rem;
  }
  100% {
	bottom: 7rem;
  }
}
@mixin base-25-text {
  font-size: size(25);
  line-height: size(26);
  font-weight: 400;
}
@mixin small-text {
  font-size: size(18);
  line-height: size(19);
  font-weight: 400;
  color: #000000;
}
@mixin before-title {
  position: absolute;
  display: block;
  content: '';
  background-image: url("../iconsall/to-top.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
