//Slider main
.base-slider-block {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.slider-col-content {
  flex: 0 0 52%;
  max-width: 52%;
  padding: size(130) 10%;
}
.max-col-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.slider-col-img {
  flex: 0 0 48%;
  max-width: 48%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: size(20);
  border-bottom-right-radius: size(20);
  &:after {
	content: '';
	display: block;
	padding-bottom: 58%;
  }
}
.base-slider {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.custom-arrows {
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 1.5rem);
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(69);
	height: size(46);
	z-index: 333;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png") !important;
	right: calc(100% - 7rem);
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/arrow-left.png") !important;
	left: 0;
  }
}
//Reviews
.review-item {
  position: relative;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: size(20);
  border: 2px solid #0a436c;
  background-color: #ffffff;
  padding: size(100) 10% size(30) 10%;
  margin: 0 1rem;
}
.review-col {
  margin-bottom: 2rem;
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.rev-pop-trigger {
  position: absolute;
  top: size(32);
  left: size(38);
  width: size(52);
  height: size(47);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url("../iconsall/plus.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.review-image-wrap {
  @include d-center;
  margin-bottom: size(25);
}
.review-prev {
  font-size: size(17);
  line-height: size(20);
  color: #000000;
  text-align: center;
  margin-bottom: size(30);
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: size(20);
  }
}
#reviews-pop-wrapper {
  position: relative;
  border-radius: size(20);
  background-color: #ffffff;
  border: 2px solid $blue-main;
  align-items: flex-start;
  padding: 2rem;
  z-index: 2222;
}
#reviewsModal {
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	right: 10px;
	background-color: transparent;
	.fa-times {
	  color: $blue-main;
	  font-size: 2rem;
	}
  }
}
.modal {
  z-index: 99999;
}
//Faq
.faq {
  padding: size(190) 0;
  background-image: url("../img/faq-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
  .question-header {
	border: none !important;
  }
  .card {
	border: none !important;
	background-color: transparent;
  }
  .question-card {
	margin-bottom: size(27);
  }
}
.question-title {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: size(27);
  line-height: size(25);
  border: none !important;
  border-radius: size(27);
  text-align: left;
  background-color: $blue-main;
  padding: 5px size(50) 5px size(18);
  width: 100%;
  min-height: size(55);
  &:hover {
	color: #ffffff;
  }
}
.answer-body {
  background-color: transparent;
  padding: size(20) 0 size(18) 12px;
}
.q-icon {
  margin-right: size(19);
  min-width: size(35);
}
.arrow-top {
  position: absolute;
  right: size(30);
  width: size(28);
  height: size(28);
  background-image: url("../iconsall/faq-plus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.arrow-bottom {
  background-image: url("../iconsall/faq-minus.png");
}
.faq-subtitle {
  font-size: size(36);
  line-height: size(38);
  color: #000000;
  text-align: center;
  margin-bottom: size(20);
}
//Post card and service card
.post-card-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.post-img {
  position: relative;
  display: flex;
  border-radius: size(20);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 9px;
  &:after {
	padding-bottom: 74%;
	content: '';
	display: block;
  }
  &:hover {
	.post-overlay {
	  opacity: 1;
	  transition: opacity .5s;
	}
  }
}
.home-post-img {
  margin-bottom: size(30);
  &:after {
	padding-bottom: 63%;
  }
}
.post-overlay {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: size(20);
  background-color: rgba(1, 31, 66, 0.5);
  transition: opacity .5s;
  img {
	max-height: 45%;
  }
}
.post-card-text {
  font-size: size(18);
  line-height: size(20);
  font-weight: 400;
  color: #000000;
  margin-bottom: 10px;
}
.post-card-title {
  position: relative;
  font-size: size(25);
  line-height: size(27);
  padding-left: size(25);
  color: #113650;
  font-weight: 400;
  margin-bottom: size(15);
  &:before {
	@include before-title;
	top: 0;
	left: 0;
	width: size(20);
	height: size(26);
  }
}
.post-card-content {
  flex-grow: 1;
}
.home-post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.home-post-card-title {
  @include mid-text;
  text-align: center;
  margin-bottom: size(15);
}
.home-post-card-column {
  align-items: center;
}
