/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}

@media (min-width: 1500px) {
  html {
	font-size: 22px;
  }
}

@media (max-width: 1500px) {
  html{
	font-size: 19px;
  }
  .hop-hey.three-columns {
	column-count: 2;
	column-gap: 1rem;
  }
  .pop-form-col {
	div.wpcf7 input[type="submit"] {
	  background-position: 80% center;
	  &:hover {
		background-position: 90% center;
	  }
	}
  }
  .pop-trigger {
	width: size(50);
	height: size(100);
	padding: 10px;
  }
  .slider-col-content {
	padding: size(100) 5%;
  }
  .custom-arrows {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  width: size(59);
	  height: size(36);
	}
	[dir="rtl"] .slick-prev {
	  right: calc(100% - 6rem);
	}
  }
  .review-item {
	margin: 0;
  }
  .small-pr-photo {
	flex: 0 0 33.3%;
	max-width: 33.3%;
  }
}
//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
	width: 90%;
	max-width: unset;
  }
  #go-top {
	img {
	  width: size(82);
	}
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .hop-hey.three-columns {
	column-count: 1;
	column-gap: unset;
  }
  .top-text {
	font-size: size(14);
	line-height: size(16);
  }
  .custom-arrows {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  width: size(49);
	  height: size(26);
	}
  }
  .base-form-title {
	@include base-title;
	margin-bottom: 10px;
  }
  .base-form-subtitle {
	font-size: size(30);
	line-height: size(39);
  }
  .col-why-img {
	img {
	  width: 130%;
	}
  }
  .overlay-why {
	right: -30%;
	width: 130%;
  }
  .contact-map-wrap {
	margin: 0 5%;
  }
  .step-num-wrap {
	height: size(100);
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .hop-hey.three-columns {
	column-count: 3;
	column-gap: 1rem;
  }
  .contacts-footer-menu {
	order: 2;
  }
  .links-footer-menu {
	order: 3;
  }
  .step-num-wrap {
	height: size(130);
  }
  .col-after-line:nth-child(4n) {
	&:after {
	  display: block;
	}
  }
  .col-after-line:nth-child(even) {
	&:after {
	  display: none !important;
	}
  }
  .slider-col-content,
  .slider-col-img {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .slider-col-img {
	border-radius: 0;
  }
  .slider-col-content {
	padding: size(50) 5% size(120) 10%;
  }
  .home-about {
	padding: size(50) 0 size(200) 0;
	background-position: right bottom;
	background-size: 50%;
  }
  .gallery-item-wrap {
	flex: 0 0 33.3%;
	max-width: 33.3%;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .contact-map-wrap {
	margin: 2rem 0 0 0;
  }
  .faq {
	padding: size(80) 0;
  }
  .project-item-images {
	margin-top: 2rem;
  }
  .block-text-home {
	h1, h2 {
	  font-size: size(74);
	  line-height: size(80);
	}
	h3 {
	  font-size: size(60);
	  line-height: size(60);
	}
	h4 {
	  font-size: size(55);
	  line-height: size(60);
	}
	h5 {
	  font-size: size(50);
	  line-height: size(56);
	}
	h6 {
	  font-size: size(45);
	  line-height: size(46);
	}
	p, li {
	  @include base-title;
	}
	li {
	  list-style: disc;
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .hop-hey.three-columns {
	column-count: 2;
	column-gap: 1rem;
  }
  .col-after-line:nth-child(even) {
	&:after {
	  display: block !important;
	}
  }
  .col-after-line {
	margin-bottom: 6rem;
	&:after {
	  width: 1px;
	  height: 4rem;
	  top: 100%;
	  right: 50%;
	}
  }
  .col-after-line:last-child {
	&:after {
	  display: none !important;
	}
  }
  .q-icon {
	margin-right: 10px;
  }
  .question-title {
	font-size: size(23);
	line-height: size(24);
  }
  .gallery-item-wrap {
	flex: 0 0 50%;
	max-width: 50%;
  }
  .faq {
	padding: size(40) 0;
  }
  .steps-block {
	padding-bottom: 0 !important;
  }
}
@media (max-width: 650px) {
  .repeat-form-base {
	background-position: top center;
	background-size: 96%;
  }
  .home-about {
	padding: size(50) 0 size(300) 0;
	background-position: right bottom;
	background-size: 80%;
  }
  .home-why-title {
	margin-left: 8%;
  }
  .why-items-block {
	padding-right: unset;
	padding-left: 8%;
  }
  .gallery-item-wrap {
	flex: 0 0 100%;
	max-width: 100%;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  footer {
	.container {
	  max-width: 80%;
	}
  }
  .hop-hey.three-columns {
	column-count: 1;
	column-gap: unset;
  }
  .close-form {
	img {
	  width: size(40);
	}
  }
  .slider-col-content {
	padding: size(50) 5% size(120) 13%;
  }
  .container {
	max-width: 90%;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  top: -40px;
	  right: -10px;
	}
  }
  header {
	.container {
	  max-width: unset;
	  width: 100%;
	}
  }
  .block-text-home {
	h1, h2 {
	  font-size: size(54);
	  line-height: size(60);
	}
	h3 {
	  font-size: size(50);
	  line-height: size(50);
	}
	h4 {
	  font-size: size(45);
	  line-height: size(50);
	}
	h5 {
	  font-size: size(40);
	  line-height: size(46);
	}
	h6 {
	  font-size: size(35);
	  line-height: size(36);
	}
	p, li {
	  @include mid-text;
	}
	li {
	  list-style: disc;
	}
  }
  .main-slide-item {
	&:after {
	  width: size(63);
	  height: size(22);
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
}
@media (max-width: 400px) {
  .pop-form-col {
	div.wpcf7 input[type="submit"] {
	  background-position: 90% center;
	  &:hover {
		background-position: 95% center;
	  }
	}
  }
  .social-link {
	margin: 7px 0;
  }
}
