$base-size: 22;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

body{
  direction: rtl;
  text-align: right;
}
@mixin input-style-rtl {
  padding-left: 8px;
  padding-right: size(42);
  background-position: calc(100% - 6px) center;
}
@mixin form-text-rtl {
  text-align: right;
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include form-text-rtl;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include form-text-rtl;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea {
  @include form-text-rtl;
  @include input-style-rtl;
}
div.wpcf7 select {
  padding-left: size(28);
  padding-right: 8px;
  background-position: 6px center;
}
div.wpcf7 textarea {
  background-position: calc(100% - 6px) 8px;
}
.contact-page {
  div.wpcf7 input[type="email"] {
	background-image: url("../iconsall/form-email.png");
  }
}
div.wpcf7 input[type="submit"] {
  position: relative;
  @include input-style-rtl;
  padding: 0 8px;
}
.triggers-col {
  left: unset;
  right: 0;
}
.pop-trigger {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}
.close-form {
  left: unset;
  right: size(35);
}
.pop-form-col {
  div.wpcf7 input[type="submit"] {
	background-position: 40% center;
	background-image: url("../iconsall/submit-arrow-rtl.png");
	&:hover {
	  background-position: 30% center;
	}
  }
}
.drop-menu {
  left: unset;
  right: 0;
  padding: size(40) 5% size(40) 10%;
}
footer {
  li{
	padding-left: 0;
	padding-right: 15px;
	&:before {
	  right: 0;
	  border-right: 10px solid #000000;
	  left: unset;
	  border-left: unset;
	}
  }
}
.slider-col-img {
  border-top-left-radius: size(20);
  border-bottom-left-radius: size(20);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.slider-output {
  h1, h2, h3, h4, h5, h6 {
	padding-right: size(26);
	padding-left: 0;
	&:before {
	  right: 0;
	  left: unset;
	}
  }
}
#reviewsModal {
  .modal-content .close {
	right: unset;
	left: 10px;
  }
}
//Faq
.question-title {
  text-align: right;
  padding: 5px size(18) 5px size(50);
}
.answer-body {
  background-color: transparent;
  padding: size(20) 12px size(18) 0;
}
.q-icon {
  margin-left: size(19);
  margin-right: unset;
}
.arrow-top {
  right: unset;
  left: size(30);
}
.post-card-title {
  padding-left: 0;
  padding-right: size(25);
  &:before {
	right: 0;
	left: unset;
  }
}
.home-about-output {
  h1, h2 {
	text-align: right;
	&:after {
	  right: 18px;
	  left: unset;
	}
  }
  p {
	text-align: right;
  }
  h1, h2, h3, h4, h5, h6 {
	text-align: right;
  }
}
.about-row {
  flex-direction: row-reverse;
  .base-link {
	align-self: flex-end;
  }
}
.home-why-title {
  &:after {
	right: unset;
	left: size(41);
  }
}
.why-item-title {
  padding-left: 0;
  padding-right: size(25);
  &:before {
	left: unset;
	right: 0;
  }
}
.why-items-block {
  padding-left: 10%;
  padding-right: unset;
}
.pad-for-why {
  padding-left: 0;
  padding-right: size(25);
}
.overlay-why {
  right: unset;
  left: -10%;
}
.gallery-plus {
  left: unset;
  right: size(16);
}
.contact-page {
  .mid-form-title-wrap {
	.base-form-title, .base-form-subtitle, .base-text {
	  text-align: right;
	}
  }
}
.col-after-line {
  &:after {
	right: unset;
	left: -25%;
  }
}
.gallery-link {
  padding: 10px size(41) 10px size(92);
  background-position: 1rem center;
}
.contact-list li {
  padding-right: 0;
  a {
	img {
	  margin-left: 3px;
	  margin-right: 0;
	}
  }
}
#go-top {
  right: unset;
  left: 5%;
}
//Responsive
@media (max-width: 1500px) {
  .pop-form-col {
	div.wpcf7 input[type="submit"] {
	  background-position: 30% center;
	  &:hover {
		background-position: 20% center;
	  }
	}
  }
}
@media (max-width: 1200px) {
  .overlay-why {
	right: unset;
	left: -30%;
  }
}
@media (max-width: 992px) {
  .slider-col-content {
	padding: size(50) 10% size(120) 5%;
  }
  .slider-col-img {
	border-radius: 0;
  }
}
@media (max-width: 768px) {
  .q-icon {
	margin-left: 10px;
	margin-right: unset;
  }
  .arrow-top {
	right: unset;
	left: size(10);
  }
  .col-after-line:nth-child(even) {
	&:after {
	  display: block !important;
	}
  }
  .col-after-line {
	margin-bottom: 6rem;
	&:after {
	  width: 1px;
	  height: 4rem;
	  top: 100%;
	  right: 50%;
	}
  }
  .col-after-line:last-child {
	&:after {
	  display: none !important;
	}
  }
}
@media (max-width: 650px) {
  .why-items-block {
	padding-left: unset;
	padding-right: 8%;
  }
  .home-why-title {
	margin-left: unset;
	margin-right: 8%;
  }
}
@media (max-width: 576px) {
  .slider-col-content {
	padding: size(50) 13% size(120) 5%;
  }
}
