body {
  direction: rtl;
  text-align: right;
}

.wpcf7-form * {
  direction: rtl !important;
}
.wpcf7-form ::placeholder {
  text-align: right;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  text-align: right;
}

div.wpcf7 input[type=text],
div.wpcf7 input[type=email],
div.wpcf7 input[type=tel],
div.wpcf7 textarea {
  text-align: right;
  padding-left: 8px;
  padding-right: 1.9090909091rem;
  background-position: calc(100% - 6px) center;
}

div.wpcf7 select {
  padding-left: 1.2727272727rem;
  padding-right: 8px;
  background-position: 6px center;
}

div.wpcf7 textarea {
  background-position: calc(100% - 6px) 8px;
}

.contact-page div.wpcf7 input[type=email] {
  background-image: url("../iconsall/form-email.png");
}

div.wpcf7 input[type=submit] {
  position: relative;
  padding-left: 8px;
  padding-right: 1.9090909091rem;
  background-position: calc(100% - 6px) center;
  padding: 0 8px;
}

.triggers-col {
  left: unset;
  right: 0;
}

.pop-trigger {
  border-radius: 100% 0 0 100%/50% 0 0 50%;
}

.close-form {
  left: unset;
  right: 1.5909090909rem;
}

.pop-form-col div.wpcf7 input[type=submit] {
  background-position: 40% center;
  background-image: url("../iconsall/submit-arrow-rtl.png");
}
.pop-form-col div.wpcf7 input[type=submit]:hover {
  background-position: 30% center;
}

.drop-menu {
  left: unset;
  right: 0;
  padding: 1.8181818182rem 5% 1.8181818182rem 10%;
}

footer li {
  padding-left: 0;
  padding-right: 15px;
}
footer li:before {
  right: 0;
  border-right: 10px solid #000000;
  left: unset;
  border-left: unset;
}

.slider-col-img {
  border-top-left-radius: 0.9090909091rem;
  border-bottom-left-radius: 0.9090909091rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.slider-output h1, .slider-output h2, .slider-output h3, .slider-output h4, .slider-output h5, .slider-output h6 {
  padding-right: 1.1818181818rem;
  padding-left: 0;
}
.slider-output h1:before, .slider-output h2:before, .slider-output h3:before, .slider-output h4:before, .slider-output h5:before, .slider-output h6:before {
  right: 0;
  left: unset;
}

#reviewsModal .modal-content .close {
  right: unset;
  left: 10px;
}

.question-title {
  text-align: right;
  padding: 5px 0.8181818182rem 5px 2.2727272727rem;
}

.answer-body {
  background-color: transparent;
  padding: 0.9090909091rem 12px 0.8181818182rem 0;
}

.q-icon {
  margin-left: 0.8636363636rem;
  margin-right: unset;
}

.arrow-top {
  right: unset;
  left: 1.3636363636rem;
}

.post-card-title {
  padding-left: 0;
  padding-right: 1.1363636364rem;
}
.post-card-title:before {
  right: 0;
  left: unset;
}

.home-about-output h1, .home-about-output h2 {
  text-align: right;
}
.home-about-output h1:after, .home-about-output h2:after {
  right: 18px;
  left: unset;
}
.home-about-output p {
  text-align: right;
}
.home-about-output h1, .home-about-output h2, .home-about-output h3, .home-about-output h4, .home-about-output h5, .home-about-output h6 {
  text-align: right;
}

.about-row {
  flex-direction: row-reverse;
}
.about-row .base-link {
  align-self: flex-end;
}

.home-why-title:after {
  right: unset;
  left: 1.8636363636rem;
}

.why-item-title {
  padding-left: 0;
  padding-right: 1.1363636364rem;
}
.why-item-title:before {
  left: unset;
  right: 0;
}

.why-items-block {
  padding-left: 10%;
  padding-right: unset;
}

.pad-for-why {
  padding-left: 0;
  padding-right: 1.1363636364rem;
}

.overlay-why {
  right: unset;
  left: -10%;
}

.gallery-plus {
  left: unset;
  right: 0.7272727273rem;
}

.contact-page .mid-form-title-wrap .base-form-title, .contact-page .mid-form-title-wrap .base-form-subtitle, .contact-page .mid-form-title-wrap .base-text {
  text-align: right;
}

.col-after-line:after {
  right: unset;
  left: -25%;
}

.gallery-link {
  padding: 10px 1.8636363636rem 10px 4.1818181818rem;
  background-position: 1rem center;
}

.contact-list li {
  padding-right: 0;
}
.contact-list li a img {
  margin-left: 3px;
  margin-right: 0;
}

#go-top {
  right: unset;
  left: 5%;
}

@media (max-width: 1500px) {
  .pop-form-col div.wpcf7 input[type=submit] {
    background-position: 30% center;
  }
  .pop-form-col div.wpcf7 input[type=submit]:hover {
    background-position: 20% center;
  }
}
@media (max-width: 1200px) {
  .overlay-why {
    right: unset;
    left: -30%;
  }
}
@media (max-width: 992px) {
  .slider-col-content {
    padding: 2.2727272727rem 10% 5.4545454545rem 5%;
  }

  .slider-col-img {
    border-radius: 0;
  }
}
@media (max-width: 768px) {
  .q-icon {
    margin-left: 10px;
    margin-right: unset;
  }

  .arrow-top {
    right: unset;
    left: 0.4545454545rem;
  }

  .col-after-line:nth-child(even):after {
    display: block !important;
  }

  .col-after-line {
    margin-bottom: 6rem;
  }
  .col-after-line:after {
    width: 1px;
    height: 4rem;
    top: 100%;
    right: 50%;
  }

  .col-after-line:last-child:after {
    display: none !important;
  }
}
@media (max-width: 650px) {
  .why-items-block {
    padding-left: unset;
    padding-right: 8%;
  }

  .home-why-title {
    margin-left: unset;
    margin-right: 8%;
  }
}
@media (max-width: 576px) {
  .slider-col-content {
    padding: 2.2727272727rem 13% 5.4545454545rem 5%;
  }
}

/*# sourceMappingURL=rtl.css.map */
