@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "forms";
@import "partials";

body{
  direction: ltr;
  text-align: left;
  font-family: "Arimo", sans-serif;
}
.wow {
  visibility: hidden;
}
.bread-row-body {
  margin-bottom: size(100);
}
.bread-row {
  margin: 0 0 size(30) 0;
  a {
	color: #000000;
	transition: color .5s;
	&:hover {
	  color: $blue-main;
	  transition: color .5s;
	}
  }
}
p, .base-text {
  @include base-text;
}
.block-title {
  @include base-title;
  text-align: center;
}
.block-text {
  @include base-text;
  text-align: center;
  margin-bottom: size(30);
}
.base-link {
  @include d-center;
  @include base-link;
  @include base-text;
  padding: 5px size(45);
  transition: color, background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $blue-main;
	transition: color, background-color .5s;
  }
}
.block-title-wrap {
  margin-bottom: size(20);
  h1, h2 {
	position: relative;
	@include d-center;
	flex-direction: column;
	padding-bottom: size(20);
	margin-bottom: size(30);
	border-bottom: 1px solid #000000;
	&:after {
	  position: absolute;
	  content: '';
	  display: block;
	  height: size(14);
	  width: 50%;
	  background-color: $blue-main;
	  bottom: -7px;
	}
  }
  p {
	@include base-text;
	text-align: center;
  }
  h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-weight: 400;
	text-align: center;
  }
  h3 {
	font-size: size(36);
	line-height: size(38);
  }
  h4 {
	font-size: size(32);
	line-height: size(34);
  }
  h5 {
	@include mid-text;
  }
  h6 {
	@include base-25-text;
  }
}
.home-about-output {
  margin-bottom: size(80);
  h1, h2 {
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	&:after {
	  width: size(209);
	  left: 18px;
	}
  }
  p {
	text-align: left;
  }
  h1, h2, h3, h4, h5, h6 {
	text-align: left;
  }
}
.slider-output {
  p {
	@include base-text;
  }
  h1, h2 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	position: relative;
	padding-left: size(26);
	color: #6d6c6c;
	font-weight: 400;
	margin-bottom: size(16);
	&:before {
	  @include before-title;
	  top: 5px;
	  left: 0;
	  width: size(22);
	  height: size(28);
	}
  }
  h3 {
	font-size: size(36);
	line-height: size(38);
  }
  h4 {
	font-size: size(32);
	line-height: size(34);
  }
  h5 {
	@include mid-text;
	color: #6d6c6c;
  }
  h6 {
	@include base-25-text;
  }
}
.project-output {
  p, li {
	@include base-text;
  }
  h1, h2 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	position: relative;
	color: #000000;
	font-weight: 400;
	margin-bottom: size(16);
  }
  h3 {
	font-size: size(36);
	line-height: size(38);
  }
  h4 {
	font-size: size(32);
	line-height: size(34);
  }
  h5 {
	@include mid-text;
  }
  h6 {
	@include base-25-text;
  }
  ul {
	list-style: disc;
	margin: 0 1rem;
  }
}
//Homepage
.home-about {
  position: relative;
  padding: size(50) 0;
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}
.home-why-block {
  overflow-x: hidden;
  margin-top: 2rem;
}
.home-why-title {
  position: relative;
  display: flex;
  @include base-title;
  align-items: flex-start;
  font-weight: 400;
  flex-direction: column;
  padding-bottom: size(20);
  margin-bottom: size(30);
  border-bottom: 1px solid #000000;
  &:after {
	position: absolute;
	content: '';
	display: block;
	height: size(14);
	width: 30%;
	background-color: $blue-main;
	bottom: -7px;
	right: size(41);
  }
}
.small-text {
  @include small-text;
}
.why-items-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 10%;
}
.why-item {
  display: flex;
  flex-direction: column;
  margin-bottom: size(40);
}
.why-item-title {
  position: relative;
  font-size: size(30);
  line-height: size(31);
  padding-left: size(25);
  color: $blue-main;
  font-weight: 400;
  margin-bottom: 6px;
  &:before {
	@include before-title;
	top: 0;
	left: 0;
	width: size(19);
	height: size(25);
  }
}
.pad-for-why {
  padding-left: size(25);
}
.overlay-why {
  position: absolute;
  top: 0;
  right: -10%;
  height: 100%;
  width: 110%;
  background-image: linear-gradient(to right, #f9fdff 0%, rgba(249, 253, 255, 0.75) 25%, rgba(255, 255, 255, 0) 100%);
}
.col-why-img {
  position: relative;
  img {
	max-width: unset;
	width: 110%;
  }
}
.partners-block {
  padding: size(40) 0;
}
//Gallery on homepage
.gallery-line {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.gallery-item-wrap {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 5px 5px 5px;
}
.gallery-item {
  position: relative;
  display: flex;
  @include back-img;
  width: 100%;
  border-radius: size(20);
  &:after {
	content: '';
	display: block;
	padding-bottom: 67%;
  }
  &:hover .gallery-overlay {
	opacity: 1;
	transition: opacity .5s;
  }
}
.gallery-plus {
  position: absolute;
  top: size(11);
  left: size(16);
  width: size(26);
}
.gallery-overlay {
  opacity: 0;
  background-color: rgba(10, 67, 108, 0.4);
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../iconsall/to-top.png");
  transition: opacity .5s;
}
.play-video, .gallery-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: size(20);
}
.play-video {
  position: absolute;
  @include d-center;
  img {
	width: 25%;
  }
}
.gallery-block-home {
  padding-top: size(70);
  background-image: url("../img/form-mid-back.png");
  background-position: top center;
  background-size: 90%;
  background-repeat: no-repeat;
}
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
//About page
.about-main {
  position: relative;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: -1px;
  background-image: url("../img/about-page-img.png");
}
.about-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: size(120) 0 size(70) 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #ffffff 41%, #ffffff 45%, rgba(255, 255, 255, 0) 100%);
}
.about-page-title {
  color: #000000;
  font-size: size(54);
  line-height: size(56);
  text-align: center;
  font-weight: 400;
  margin-bottom: size(140);
}
.about-video {
  display: flex;
  width: 100%;
  margin-bottom: size(30);
  border-radius: size(20);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after {
	content: '';
	display: block;
	padding-bottom: 48%;
  }
  .play-video {
	img {
	  width: 13%;
	}
  }
}
.about-video-title {
  position: relative;
  @include d-center;
  @include mid-text;
  flex-direction: column;
  padding-bottom: size(20);
  margin-bottom: size(27);
  border-bottom: 1px solid #000000;
  &:after {
	position: absolute;
	content: '';
	display: block;
	height: size(14);
	width: 50%;
	background-color: $blue-main;
	bottom: -7px;
  }
}
//Reviews page
.reviews-page-main {
  min-height: size(760);
  background-image: linear-gradient(to top, #ffffff 32%, rgba(255, 255, 255, 0.87) 41%, rgba(255, 255, 255, 0) 100%);
  padding-bottom: 10rem;
}
.reviews-content-block {
  margin-top: -10rem;
}
//Contact page
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(60);
}
.contact-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(121);
  height: size(121);
  border-radius: size(20);
  border: 2px solid $blue-main;
  background-color: #ffffff;
  padding: size(23);
  margin-bottom: size(18);
  img {
	max-height: 100%;
  }
}
.contact-title-item {
  @include mid-text;
  text-align: center;
  margin-bottom: size(25);
}
.contact-info {
  @include base-text;
  text-align: center;
  transition: color .5s;
  &:hover {
	color: $blue-main;
	transition: color .5s;
  }
}
.contact-map-wrap {
  display: flex;
  box-shadow: 0 0 24px 3px rgba(0, 0, 0, 0.14);
  border-radius: size(20);
  background-color: #ffffff;
  margin: 0 10%;
  img {
	width: 100%;
	border-radius: size(20);
  }
}
.contact-page {
  .mid-form-title-wrap {
	align-items: flex-start;
	width: 100%;
	.base-form-title, .base-form-subtitle, .base-text {
	  text-align: left;
	}
  }
  input, textarea, select {
	border-radius: 10px !important;
  }
}
//Post page
.post-img-page {
  border-radius: size(20);
  width: 100%;
}
.post-main-img {
  background-image: url("../img/home-main.png");
}
.post-block-main {
  min-height: unset;
}
.post-text-output {
  p, li {
	margin-bottom: size(24);
  }
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.share-text {
  @include small-text;
  color: $blue-main;
}
.share-link {
  margin: 0 5px;
}
.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}
.steps-block {
  padding: size(60) 0;
}
.col-after-line {
  position: relative;
  &:after {
	content: "";
	display: block;
	position: absolute;
	width: 50%;
	height: 1px;
	top: 3rem;
	background-color: #6d6c6c;
	right: -25%;
	z-index: 9;
  }
}
.step-num-wrap {
  height: size(135);
  margin-bottom: size(24);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffffff;
  img {
	max-height: 100%;
  }
}
.col-after-line:nth-child(4n) {
  &:after {
	display: none;
  }
}
.col-after-line:last-child {
  &:after {
	display: none !important;
  }
}
.project-photo {
  .gallery-overlay {
	background-image: none;
  }
}
.project-item-block {
  position: relative;
  padding-bottom: size(80);
  padding-top: size(66);
  border-bottom: 1px solid #000000;
  &:after {
	position: absolute;
	content: '';
	display: block;
	height: size(14);
	width: 10rem;
	right: calc(50% - 5rem);
	background-color: $blue-main;
	bottom: -7px;
  }
  &:nth-child(even) {
	.pr-row {
	  flex-direction: row-reverse;
	}
  }
}
.project-item-images {
  margin-bottom: 2rem;
}
.gallery-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: size(255);
  min-height: size(50);
  border-radius: 10px;
  border: 3px solid $blue-main;
  background-color: #ffffff;
  @include base-text;
  color: $blue-main;
  padding: 10px size(92) 10px size(41);
  background-position: calc(100% - 1rem) center;
  background-size: size(36);
  background-image: url("../iconsall/top-link.png");
  background-repeat: no-repeat;
  margin-bottom: size(30);
  cursor: pointer;
  flex: 0 0 auto;
  width: auto;
}
.more-gallery-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dis-flex {
  display: flex;
}
.hide-line {
  display: none;
}
.gallery-link-open {
  background-image: url("../iconsall/bottom-link.png");
}
//Main slider on homepage
.home-main-block {
  position: relative;
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	top: 50%;
	display: flex;
	flex-direction: column;
	width: 90%;
	right: 5%;
  }
  ul.slick-dots {
	li {
	  margin: 4px 0;
	  button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: size(24);
		height: size(24);
		border-radius: 50%;
		background-color: #6d6c6c;
		opacity: 1 !important;
		&:before {
		  top: unset;
		  left: unset;
		  color: #ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: #000000;
  }
}
.services-mt {
  margin-top: -6rem;
}
.slide-home {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-slide-item {
  width: 100%;
  background-image: linear-gradient(to top, #ffffff 16%, rgba(255, 255, 255, 0.76) 36%, rgba(255, 255, 255, 0) 100%);  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: size(100) 0 10rem 0;
  min-height: 700px;
  &:after {
	position: absolute;
	bottom: 9rem;
	content: '';
	display: block;
	width: size(83);
	height: size(42);
	background-image: url("../iconsall/home-bottom-arrow.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	animation: jump-down 1.2s ease-in-out alternate infinite;
  }
}
.block-text-home {
  * {
	text-align: center;
  }
  h1, h2 {
	font-size: size(94);
	line-height: size(90);
	margin-bottom: size(20);
  }
  h1, h2, h3, h4, h5, h6 {
	color: $blue-main;
	font-weight: 400;
	text-transform: uppercase;
  }
  h3 {
	font-size: size(81);
	line-height: size(80);
  }
  h4 {
	font-size: size(70);
	line-height: size(70);
  }
  h5 {
	font-size: size(60);
	line-height: size(60);
  }
  h6 {
	font-size: size(50);
	line-height: size(26);
  }
  p, li {
	@include base-title;
  }
  li {
	list-style: disc;
  }
}


@import "responsive";
